page-login {

  .login-content {
    background: #f8f8f8;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background: #488aff;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
      border-radius: 25px;
      box-shadow: 1px 2px 6px 1px #494646;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #4381ed;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }

    .submit-btn:hover{
      //background: #352da6;
      border-radius: 30px !important;
      border: 1px inset #ffffff;
    }

    .register-btn {
      color: #ffffff;
      font-size: 1em;
      padding-bottom: 22px !important;
    }
    .logo{
      margin-bottom: -30px;
      margin-top: -30px;
    }
  }

}
