<html ng-app="projectKobe">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  </head>

  <body ng-controller="MainCtrl" id="body">

    <ion-content class="outer-content">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-menu [content]="content">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list >
            <button ion-button (click)="logout()" outline >Logout</button>
          </ion-list>
        </ion-content>
      </ion-menu>

      <!-- main navigation -->
      <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

      <ion-list>
        <ion-list-header>

          <button ion-button menuToggle="right" (click)="openMenu()"> <ion-icon name="menu"> </ion-icon></button>
          Shopping list
        </ion-list-header>

       <!-- <img *ngIf="!products" class="noProduct" src="assets/icon/no.jpg">-->

        <ion-item-sliding *ngFor="let p of products">
          <ion-item no-lines (click)="speech(p.productname)">
            <ion-avatar item-start>
              <img src= "{{ p.path }}">
            </ion-avatar>
            <h2> {{ p.productname }} </h2>
          </ion-item>
          <ion-item-options>
            <button (click)="deleteFunct(p.idproduct, $event)" ion-button color="danger" icon-start large>
              <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button color="secondary" (click)="purchaseFunct(p.idproduct, $event)" icon-start large>
              <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>



      </ion-list>

    </ion-content>
  </body>
</html>
